{cover_enabled, true}.
{cover_print_enabled, true}.

{deps, [
  {edown, ".*", {git, "https://github.com/esl/edown.git", "HEAD"}}
]}.

{erl_opts, [
  debug_info,
  warnings_as_errors
]}.

{edoc_opts, [
  {doclet, edown_doclet},
  {source_path, ["src", "test"]},
	{app_default, "http://www.erlang.org/doc/man"},
  {image, ""},
  {stylesheet, ""}
]}.
